<section class="background-primary text-center py-4">
    <div class="container"><div class="row align-items-center" style="opacity: 0.85">
    <div class="col-sm-3 text-sm-left"><a href="#">BOSS</a></div>
    <div class="col-sm-6 mt-3 mt-sm-0"><p class="color-white lh-6 mb-0 fw-600">&copy; Copyright 2023</p>
    </div><div class="col text-sm-right mt-3 mt-sm-0">
        <a class="color-white" href="mailto:galogbe.djessa@gmail.com" target="_blank"> By GALOGBE | 07 08 77 98 53</a>
    </div></div><!--/.row--></div><!--/.container-->

</section>