<main>
    <div class="loader h-100 d-flex align-items-center justify-content-center">
        <div class="line-scale"><div>


    </div><div></div><div>
         
    </div><div></div>
    <div></div></div></div>

    <section class="text-center py-0">
        <div class="background-holder overlay overlay-" style="background-image:url(assets/images/chandelier.jpg);">
        </div><!--/.background-holder--><div class="container"><div class="row h-full align-items-center">
            <div class="col-md-8 col-lg-5 mx-auto" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div data-zanim='{"delay":0}'><a href="index-2.html">
                    <img src="" alt=""/></a></div>
                <div class="background-white radius-secondary p-4 p-md-5 mt-5" data-zanim='{"delay":0.1}'  style="background-color:#7777!important;">
                   
                 
               
                <h4 class="text-uppercase fs-0 fs-md-1">
                    <img src="assets/images/logo.jpg" width="40%"/>
                </h4>
                <img  width="100" src=""> <br/>
                     <span style="color:yellow;">
                          
                       
                        
                     
                     </span>

                    <form class="text-left mt-4" method="POST" action=" ">
                         
                           <div class="row align-items-center">
                               <div class="col-12">

                            <div class="input-group">
                                <div class="input-group-addon background-11 fs-2">
                                <span class="ion-ios-person-outline"></span>
                                </div>
                                <input class="form-control" type="text" placeholder="Veuillez saisir votre nom utilisateur"  name="login" value="" aria-label="Text input with dropdown button"/>
                                <span class="text-danger"></span>   
                            </div>
                            </div>

                            <div class="col-12 mt-2 mt-sm-4">
                                <div class="input-group">
                                <div class="input-group-addon background-11 fs-2">
                                <span class="ion-ios-locked-outline"></span>
                            </div>
                              <input class="form-control" type="Password" placeholder="Veuillez saisir votre mot de passe" value="" name="password"   aria-label="Text input with dropdown button"/>
                              <span class="text-danger" ></span>
                            </div>
                          </div>
                            </div>

                           <div class="row align-items-center mt-3">
                             <div class="col-6"><label class="form-check-label">
                             <input class="form-check-input" type="checkbox"/>
                             <span class="color- text-light">Se souvenir</span></label></div>
                             <div class="col-6 mt-2 mt-sm-3">
                                <button class="btn btn-primary btn-block" type="submit">Valider</button>
                            </div>

                            </div>
                     
                    </form>
                    <br/>
                 <a href="mailto:galogbe.djessa@gmail.com" style="font-size:0.7em;font-weight:bold;color:yellow;"> By GALOGBE FERNANDAIZE | 07 08 77 98 53</a>
                    </div>
                          
                    </div>
                    
                    </div><!--/.row-->
                       
                </div><!--/.container-->
                        </section>
                 </main>
                    


       
