
  
  
  
    <div class="flexslider flexslider-simple h-full loading">
    <ul class="slides">
    <li data-zanim-timeline="{}">
  
        <section class="py-0"><div>
        <div class="background-holder elixir-zanimm-scale" style="background-image:url(images/labo.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
  
        </div><!--/.background-holder-->
        <div class="container">
            <div class="row h-full py-8 align-items-center " data-inertia='{"weight":1.5}'>
            <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                <div class="overflow-hidden">
                <h1 class="fs-3 fs-md-4 zopacity text-warning" data-zanim='{"delay":0}'>Ma Chorale </h1>
                </div>
                <div class="overflow-hidden">
                      <p class="color-warning mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity " data-zanim='{"delay":0.1}'>
                        Bienvenue sur la platefome des chorales des église assemblés de Dieu. vous retrouverez des vidéos de prestation, de concerts, d'accapelare, des paroles et de  partitions de chant. 
                    </p>
                </div>
                <div class="overflow-hidden">
                    <div class="zopacity" data-zanim='{"delay":0.2}'><a class="btn btn-danger mr-3 mt-3" href="forum">Acceder au forum<span class="fa fa-chevron-right ml-2"></span></a>
                <a class="btn btn-warning mt-3" href="abonnement">S'abonner<span class="fa fa-chevron-right ml-2">
  
                </span></a>
            </div>
            </div>
            </div>
            </div>
        </div><!--/.row-->
        </div><!--/.container-->
   </section>
  
    </li>
       <!-- <li data-zanim-timeline="{}">
  
  
        <section class="py-0"><div>
            <div class="background-holder elixir-zanimm-scale" style="background-image:url(assets/images/header-5.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
  
            </div><!--/.background-holder-->
        <!--   <div class="container">
            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                    <div class="overflow-hidden">
                    <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Expert Consultants</h1></div>
                    <div class="overflow-hidden">
                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>
                            Over 10 years of experience in helping clients finding comprehensive solutions.
                        </p>
                    </div>
                    <div class="overflow-hidden"><div class="zopacity" data-zanim='{"delay":0.2}'>
                        <a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2">
  
                        </span></a>
                        <a class="btn btn-warning mt-3" href="contact.html">Contact us<span class="fa fa-chevron-right ml-2"></span></a></div></div></div></div></div>  </div><!--/.container-->
       <!--</section>
  
    </li>-->
       
    <!--<li data-zanim-timeline="{}"><section class="py-0"><div>
        <div class="background-holder elixir-zanimm-scale" style="background-image:url(assets/images/header-1.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'></div><!--/.background-holder-->
      <!--  <div class="container">
            <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                    <div class="overflow-hidden">
                        <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Growth Partners</h1>
                    </div>
                    <div class="overflow-hidden">
                        <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>
                        Connect with top consultants hand-picked by Elixir consulting and finance.
                    </p></div>
                    <div class="overflow-hidden">
                        <div class="zopacity" data-zanim='{"delay":0.2}'>
                        <a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2"></span></a>
                        <a class="btn btn-warning mt-3" href="contact.html">Contact us<span class="fa fa-chevron-right ml-2"></span></a>
                    </div></div></div></div></div>/.row</div>/.container-->
      <!--  </section></li>-->
    
    </ul>
  
    </div>
  
  
  
  
    <section class="background-whit bg-warning  text-center">
        <div class="container-fluid">
    <div class="row justify-content-cente">
    <div class="col-md-4 " style="border:0px soli white;">
     <!--Pour des pub-->
    </div>
  
    <div class="col-md-4 ">
      
        <h3 class="color-primary fs-2 fs-lg-3"> Consiégérie medicale</h3>
        <p class="px-lg-4 mt-3">
        Nous offrons à nos patients des soins de santé haut de gamme.
       Entrez donc en contact avec un expert qui repondra efficacement à vos preocupations
        </p>
        <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/>
    </div>
  
    <div class="col-md-4 " style="border:0px solid whit;">
      <!--Pour des pub-->
    </div>
  
    <div>
            <div class="row mt-4 mt-md-5">
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"delay":0}' style="height:100px; width:100px">
                        <span class="icon-Bar-Chart5 fs-3 color-blueish mx-auto fw-600"></span>
                    </div><h5 class="mt-4" data-zanim='{"delay":0.1}'>Analyse medicale</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Avant toute operation, nous fesons une analyse medicale</p>
                </div>
                
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                    <span class="icon-Clock fs-3 color-blueish mx-auto fw-600"></span></div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Intervention rapide</h5>
                <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Nous sommes dans un elan de cours contre la montre pour chacune de vos préocupations</p></div>
                <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                    <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                        <span class="icon-Idea-2 fs-3 color-blueish mx-auto fw-600"></span></div>
                    <h5 class="mt-4" data-zanim='{"delay":0.1}'>L'excellence</h5>
                    <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Faites la connaissance des meilleurs medecins du domaine medical</p>
                </div><div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                    <span class="icon-Headset fs-3 color-blueish mx-auto fw-600"></span></div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Support de qualité</h5>
                <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Faites l'expérience d'un service inégalé. Si vous rencontrez des problèmes, contacter-nous 24h/7.</p>
            </div>
            </div>
  
            
            </div><!--/.row-->
        </div><!--/.container-->
        </div>
        </section>
  
  
        <section>
        <div class="background-holder overlay overlay-elixir" style="background-image:url(/images/femme_medecin.jpg);"></div><!--/.background-holder-->
  
    <div class="container">
        <div class="row">
        <div class="col-12">
    <div class="media">
        <span class="ion-android-checkmark-circle fs-5 color-warning mr-3" style="transform: translateY(-1rem)"></span>
        <div class="media-body">
            <h4 class="color-warning fs-1 fs-lg-4">FAITES NOUS CONFIANCE<br/></h4>
            <div class="row mt-4 pr-lg-10">
            <div class="col-md-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>52k</div>
                <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Cas resolu</h6></div>
                <div class="col col-lg-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>164</div>
                    <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Specialistes</h6></div>
                    
                    <div class="w-100 d-flex d-lg-none"></div>
                    <div class="col-md-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>7K
  
                        </div>
                    <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Abonnés</h6></div>
  
  
                
  
                    <div class="col col-lg-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>100%</div>
                        <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'> Clients satisfaits</h6>
                </div></div></div></div></div>
                </div><!--/.row-->
  
        </div><!--/.container-->
     </section>
  
  
    <section class="pt-0">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-left text-center">
        <div class="col-4 col-md-4"><div class="mt-4 py-5 py-md-11">
            <div class="background-holde radius-secondary" >
            <iframe width="560" height="420" src="https://www.youtube.com/embed/7rMSKNq9N4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div><!--/.background-holder-->
            
        </div>
        
        </div>
       
  
            <div class="col-md-8" style="border: 1px solid blac;">
             
  
  
             <section class="background">
    <div class="container">
        <div class="row">
    <div class="col"><h3 class="text-center fs-2 fs-lg-3">Dernières infos</h3>
        <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/></div>
    </div><div class="row mt-lg-6"><div class="col-md-6 col-lg-4 py-0 mt-4 mt-lg-0">
            <div class="background-white pb-4 h-100 radius-secondary">
    <img class="w-100 radius-tr-secondary radius-tl-secondary" src="assets/images/9.jpg" alt="Featured Image"/>
    <div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden"><a href="news.html">
            <h5 data-zanim='{"delay":0}'>Tax impacts of lease mean accounting change</h5></a></div>
        <div class="overflow-hidden"><p class="color-7" data-zanim='{"delay":0.1}'>By Paul O'Sullivan</p></div>
        <div class="overflow-hidden"><p class="mt-3" data-zanim='{"delay":0.2}'>HMRC released a consultation document to flag some potential tax impacts that a forthcoming change...</p></div>
        <div class="overflow-hidden"><div class="d-inline-block" data-zanim='{"delay":0.3}'>
            <a class="d-flex align-items-center" href="#">Learn More
                <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block"></span></div></a></div></div></div></div></div>
    <div class="col-md-6 col-lg-4 py-0 mt-4 mt-lg-0">
        <div class="background-white pb-4 h-100 radius-secondary">
            <img class="w-100 radius-tr-secondary radius-tl-secondary" src="assets/images/10.jpg" alt="Featured Image"/><div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"><div class="overflow-hidden"><a href="news.html"><h5 data-zanim='{"delay":0}'>What brexit means for data protection law</h5></a></div><div class="overflow-hidden"><p class="color-7" data-zanim='{"delay":0.1}'>By Enrico Ambrosi</p></div><div class="overflow-hidden"><p class="mt-3" data-zanim='{"delay":0.2}'>Assuming that the referendum is not ignored completely, there are two possible futures for the UK...</p></div>
            <div class="overflow-hidden"><div class="d-inline-block" data-zanim='{"delay":0.3}'><a class="d-flex align-items-center" href="#">Learn More<div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block">
            </span></div></a>
            </div>
            </div>
        </div>
        </div></div>
  
        <div class="col-md-6 col-lg-4 py-0 mt-4 mt-lg-0">
            <div class="background-white pb-4 h-100 radius-secondary"><img class="w-100 radius-tr-secondary radius-tl-secondary" src="assets/images/14.jpg" alt="Featured Image"/><div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden"><a href="news.html"><h5 data-zanim='{"delay":0}'>The growing meanace of social engineering fraud</h5></a></div><div class="overflow-hidden"><p class="color-7" data-zanim='{"delay":0.1}'>By Robson</p></div>
                <div class="overflow-hidden"><p class="mt-3" data-zanim='{"delay":0.2}'>Social engineering involves the collection of information from various sources about a target...</p></div>
                <div class="overflow-hidden">
                    <div class="d-inline-block" data-zanim='{"delay":0.3}'>
                        <a class="d-flex align-items-center" href="#">Learn More
                            <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>
        <span class="d-inline-block"></span></div>
    </a></div></div></div></div></div>
  </div><!--/.row-->
  </div>
  <!--/.container--></section>
  
            </div>
        </div><!--/.row-->
  
       
  
    </div><!--/.container-->
    </section>
  
  
    <section class="background-  bg-dar text-center " style="background-color:#262A3D;">
        <div class="container">
            <div class="row mb-6"><div class="col">
            <h3 class="fs-2 fs-md-3 text-light">RENCONTREZ DES SPECIALISTES</h3>
            <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"></div></div>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
                    <div class="background-white pb-4 h-70 radius-secondary">
           
            <img class="mb-4 radius-tr-secondary  radius-tl-secondary" src="images/kone_ismael.jpg" width="67%" height="45%"  alt="Profile Picture"/>
            <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"><div class="overflow-hidden">
                <h5 data-zanim='{"delay":0}'>KONE Ismaël</h5></div>
            <div class="overflow-hidden">
                <h6 class="fw-100 color-7" data-zanim='{"delay":0.1}'>Medecin Colonel </h6>
            </div>
            <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Specialiste de la maladie grave. Notre Dr a plussieurs cliniques accueillant des patients de diverses maladies.</p>
            </div></div>
        </div>
    </div>
        
        <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
            <div class="background-white pb-4 h-70 radius-secondary">
            <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="/images/homme_medecin.jpg" width="100%" height="45%"  alt="Profile Picture"/>
           
            <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden"><h5 data-zanim='{"delay":0}'>Lily Anderson</h5></div>
                <div class="overflow-hidden"><h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Activation Consultant</h6></div>
            <div class="overflow-hidden">
                <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Specialiste de la maladie grave. Notre Dr a plussieurs cliniques accueillant des patients de diverses maladies.</p>
            </div></div>
          </div></div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
                <div class="background-white pb-4 h-70 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="images/femme_medecin.jpg" width="100%" height="45%"  alt="Profile Picture"/><div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"><div class="overflow-hidden">
            <h5 data-zanim='{"delay":0}'>Dr Arielle KOUAKOU</h5>
        </div>
  
            <div class="overflow-hidden"><h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Specialiste en churigy</h6>
            </div>
            <div class="overflow-hidden"><p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Specialiste de la maladie grave. Notre Dr a plussieurs cliniques accueillant des patients de diverses maladies.</p></div></div></div></div><div class="col-sm-6 col-lg-4 mt-4">
            <div class="background-white pb-4 h-70 radius-secondary">
                <img class="mb-4 radius-tr-secondary  radius-tl-secondary" src="/images/femme2_medecin.jpg"  width="100%" height="45%"  alt="Profile Picture"/>
            <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden"><h5 data-zanim='{"delay":0}'>Legartha Mantana</h5></div>
                <div class="overflow-hidden"><h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Brand Management Consultant</h6></div><div class="overflow-hidden"><p class="py-3 mb-0" data-zanim='{"delay":0.2}'>
                As General Counsel of Elixir, Tony oversees global legal activities and policies across all aspects.
            </p>
        </div></div></div></div>
        
        <div class="col-sm-6 col-lg-4 mt-4">
            <div class="background-white pb-4 h-70 radius-secondary">
                <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="assets/images/portrait-7.jpg" width="100%" height="45%"  alt="Profile Picture"/><div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"><div class="overflow-hidden"><h5 data-zanim='{"delay":0}'>John Snow</h5></div><div class="overflow-hidden">
                <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Business Analyst</h6></div>
                <div class="overflow-hidden"><p class="py-3 mb-0" data-zanim='{"delay":0.2}'>
                    John has overseen the meteoric growth while protecting scaling its uniquely creative and culture.
                </p></div></div></div></div><div class="col-sm-6 col-lg-4 mt-4">
            <div class="background-white pb-4 h-70radius-secondary">
                <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="assets/images/portrait-1.jpg" width="100%" height="45%"  alt="Profile Picture"/><div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"><div class="overflow-hidden">
                <h5 data-zanim='{"delay":0}'>Ragner Lothbrok</h5></div><div class="overflow-hidden">
                <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Business Consultant</h6></div>
                <div class="overflow-hidden"><p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p></div></div></div></div>
        </div><!--/.row-->
    </div><!--/.container-->
    </section>
  
  
  
  <style>
  .service{
  color:red!important;
  }
  </style>
  
  
  <section class="text-center bg-warning">
  <div class="container">
  <h3>NOS SERVICES</h3>
  <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/>
  <div class="row">
  
    <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  
    <div class="overflow-hidden">
    <h5 class="mt-3" data-zanim='{"delay":0.1}'>Orientation medicale</h5>
    </div>
    <div class="overflow-hidden">
        <p class="mb-0" data-zanim='{"delay":0.2}'>
       Nous dianostiquons votre mal et nous vous donnons l'orientation à suivre pour un tratement rapide et efficace
    </p>
    </div>
  </div>
  
  
    <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
       
  <div class="overflow-hidden">
    <h5 class="mt-3" data-zanim='{"delay":0.1}'>
  Conseils médicaux</h5>
  </div>
  <div class="overflow-hidden">
    <p class="mb-0" data-zanim='{"delay":0.2}'>
        Nous vous donnons des conseils adequats pour vous aider éfficacement.
    </p>
  </div>
  </div>
  
  
  <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
   
        <div class="overflow-hidden">
            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Documents médicaux</h5></div>
        <div class="overflow-hidden">
            <p class="mb-0" data-zanim='{"delay":0.2}'>Nous sommes disponibles pour vous fournir les documents medicaux qu'il vous faut pour avoir une bonne connaissance des bonnes pratiques pour maintenir la santé</p>
    </div>
  </div>
  
  
    <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    
        <div class="overflow-hidden">
            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Prise de rendez-vous spécialisés </h5>
        </div>
        <div class="overflow-hidden">
            <p class="mb-0" data-zanim='{"delay":0.2}'>Nous vous permettons de vous  connecter à des specialistes qui vous suivrons quotidienement sant avoir à vous deplacer.</p>
        </div>
    </div>
  
  
<div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
   <div class="overflow-hidden">
        
            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Prestations à domicile</h5>
    </div>
    <div class="overflow-hidden">
        <p class="mb-0" data-zanim='{"delay":0.2}'>Nous avons tres bien qu'un patient mal à point ne peut souvent pas faire de mouvement. nous vous offrons donc de consulation et traitement médical à domicile</p>
    </div>
</div>
       
        <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">   
        <a href="#"> 
    <div class="overflow-hidden">
        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Contre-avis médical</h5></div>
    <div class="overflow-hidden">
        <p class="mb-0" data-zanim='{"delay":0.2}'>We work buy side and sell side to give our clienrts hard hitting answers and focus hard on best opportunities. </p>
    </div>
    </a>
   </div>
  
  
  
  
  <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <div class="overflow-hidden">
        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Visa et tourisme médical</h5></div>
    <div class="overflow-hidden">
        <p class="mb-0" data-zanim='{"delay":0.2}'>We work buy side and sell side to give our clienrts hard hitting answers and focus hard on best opportunities. </p>
  </div>
  </div>
  
  
  
  <div class="col-md-6 col-lg-4 mt-4 service" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <div class="overflow-hidden">
        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Bilans et prise en charge internationaux</h5></div>
    <div class="overflow-hidden">
        <p class="mb-0" data-zanim='{"delay":0.2}'> </p>
    </div>
  </div>
    
  
     </div>
        <!--/.row-->
    </div><!--/.container-->
  </section>
        
        
   
  <section class=" background-white">
    <div class="container">
   
        <div class="row">
        
            <div class="col">
            <h3 class="fs-2 fs-md-3 text-ligh text-center">DES TEMOIGNAGES</h3>
            <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll">
  
        <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'><div class="row px-lg-8"><div class="col-4 col-md-3 mx-auto">
            <img class="radius-secondary mx-auto" src="assets/images/client1.png" alt="Member" style="width: auto"/></div>
            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3"><p class="lead fw-400">Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty remarkable – but I’d always like to see more!</p><h6 class="fs-0 mb-1 mt-4">Michael Clarke</h6><p class="mb-0 color-7">CEO, A.E.T Institute</p></div></div><div class="row px-lg-8">
            <div class="col-4 col-md-3 mx-auto">
                <img class="radius-secondary mx-auto" src="assets/images/client2.png" alt="Member" style="width: auto"/></div>
            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3"><p class="lead fw-400">Writing case studies was a daunting task for us. We didn’t know where to begin or what questions to ask, and clients never seemed to follow through when we asked. Elixir team did everything – with almost no time or effort for me!</p><h6 class="fs-0 mb-1 mt-4">Maria Sharapova</h6><p class="mb-0 color-7">Managing Director, Themewagon Inc.</p></div>
        </div><div class="row px-lg-8">
            <div class="col-4 col-md-3 mx-auto">
                <img class="radius-secondary mx-auto" src="assets/images/client3.png" alt="Member" style="width: auto"/>
            </div>
            <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3"><p class="lead fw-400">As a sales gamification company, we were skeptical to work with a consultant to optimize our sales emails, but Elixir was highly recommended by many other Y-Combinator startups we knew. Elixir helped us run a ~6 week email campaign.</p><h6 class="fs-0 mb-1 mt-4">David Beckham</h6><p class="mb-0 color-7">Chairman, Harmony Corporation</p></div>
        </div></div></div>
    </div><!--/.row-->
  </div><!--/.container-->
  </section>
  
        
        
       
  
  
  
  
           <!--Compte à reboot-->  
           
           
  
          
  
    <section class="background-10 py-4">
      <div class="text-center">  <h3>NOS PARTENAIRES</h3></div>
    <marquee>
        <div class="container">
      
    <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
   
        <div class="col-4 col-md-2 my-3 overflow-hidden">
            <img src="assets/images/partner/logo2.png" alt="" data-zanim="{}"/></div>
        <div class="col-4 col-md-2 my-3 overflow-hidden">
            <img src="assets/images/partner/logo1.png" alt="" data-zanim="{}"/></div>
        <div class="col-4 col-md-2 my-3 overflow-hidden">
            <img src="assets/images/partner/logo6.png" alt="" data-zanim="{}"/>
        </div><div class="col-4 col-md-2 my-3 overflow-hidden">
        <img src="assets/images/partner/logo3.png" alt="" data-zanim="{}"/></div>
        <div class="col-4 col-md-2 my-3 overflow-hidden">
            <img src="assets/images/partner/logo5.png" alt="" data-zanim="{}"/></div>
        <div class="col-4 col-md-2 my-3 overflow-hidden">
            <img src="assets/images/partner/logo4.png" alt="" data-zanim="{}"/></div>
  
        </div><!--/.row-->
  </div><!--/.container-->
  </marquee>

</section>

  
