




   



    






        
        
        <section class="background-primar" >
            <div class="container-fluid">
           
                <div class="row align-items-center color-white">

                    <div class="col-lg-7">
                    <div class="border border-2x border-color-warning p- py-lg-5 text-center radius-secondary">
<div class="overflow-hidden">
<h4 class="color-white" data-zanim='{"delay":0}'>NOUS SOMMES SITUE DANS CETTE ZONE</h4>
    </div>
    <div class="overflow-hidden">
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.2332090336504!2d-4.009253085318357!3d5.381375196096768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc194b548f95e2f%3A0xfbffeb264fbeb8a7!2sH%C3%B4pital%20Militaire%20D&#39;Abidjan%20(H.M.A.)!5e0!3m2!1sfr!2sci!4v1679044520532!5m2!1sfr!2sci" width="850" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>

<div class="col-lg-5 pl-lg-4 mt-6 mt-lg-0">
    <h5 class="color-white">I would like to discuss:</h5>
    

<form class="zform mt-4" method="post">
    
<div class="row">
        
    <div class="col-lg-12  mt-4">
        <input class="form-control" type="hidden" name="to" value="username@domain.extension"/>
        <input class="form-control" type="text" placeholder="Your Name" />
    </div>
        <div class="col-lg-12  mt-4">
        <input class="form-control" type="text" placeholder="Phone Number" />
    </div>
        <div class="col-lg-12 mt-4">
            <textarea class="form-control"  placeholder="Ecrivez nous" ></textarea>
        </div>
        <div class="col-lg-12 mt-4">
            <button class="btn btn-warning btn-block" type="submit">Submit</button>
       </div>
        <div class="col-lg-12">
            <div class="zform-feedback mt-4">

        </div>
    </div>
    </div>

    </form>

</div>
</div><!--/.row-->
</div>
<!--/.container-->
</section>
    


  

           <!--Compte à reboot-->  
             

    <section class="background-10 py-6">
  
        <div class="container">
      
    <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
   
        

        </div><!--/.row-->
</div><!--/.container-->

</section>


 